<%= form_with(model: gamedb, local: true) do |form| %>
  <% if gamedb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gamedb.errors.count, "error") %> prohibited this gamedb from being saved:</h2>

      <ul>
        <% gamedb.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :steamID %>
    <%= form.text_field :steamID %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :gamedb_user_id, class: 'form-control', value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
