<p id="notice">
  <%= notice %>
</p>

<h1>Gamedbs</h1>

<!-- table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Steamid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamedbs.each do |gamedb| %>
      <tr>
        <td><%= gamedb.username %></td>
        <td><%= gamedb.password %></td>
        <td><%= gamedb.steamID %></td>
        <td><%= link_to 'Show', gamedb %></td>
        <td><%= link_to 'Edit', edit_gamedb_path(gamedb) %></td>
        <td><%= link_to 'Destroy', gamedb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<container>
  <table class="table table-striped table-hover ">
    <% @gamedbs.each do |gamedb| %>
      <% if gamedb.user == current_user %>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          <% end %>
            <% end %>
        </tbody>
  </table>


</container>

<br>

<%= link_to 'New Gamedb' , new_gamedb_path %>