<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <% if flash[:alert] %>
                <div class="alert alert-warning">
                    <%= flash[:alert] %>
                </div>
                <% end %>

                <div class="mx-auto mt-5" style="width: 400px">
                    <%= form_with(format: :json, url: root_path, method: 'get', id: "game_search") do %>
                      <div class="form-group">
                        <%= label_tag :game, 'Search for a game '%>
                        <%= text_field_tag :game, nil, placeholder: 'Eg. Super Mario', class: 'form-control' %>
                        <%= select_tag platform_list, options_for_select(platform_list.map { |obj| [obj['name'], obj['id']] }) %>
                    </div>
            
                      <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
                    <% end %>
                </div>

        </div>
    </div>