<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @steam_game.game_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @steam_game.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @steam_game.image %>
</p>

<p>
  <strong>System:</strong>
  <%= @steam_game.system %>
</p>

<p>
  <strong>Released date:</strong>
  <%= @steam_game.released_date %>
</p>


<%= link_to 'Back', root_path %>