<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @steam_game.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @steam_game.image %>
</p>

<p>
  <strong>System:</strong>
  <%= @steam_game.system %>
</p>



<%= link_to 'Back', root_path %>