<% if user_signed_in? %>

    <%= render "/partials/search" %>
    <p>{<p>
      <% @results_platforms.each do |platform| %>
      <p>[</p>
      <span>"id" =>  "<%= platform["id"] %>", </span>
      <span>"slug" => "<%= platform["slug"] %>", </span>
      <span>"name" => "<%= platform["name"] %>"</span>
      <p>], </p>
      <br />
      <% end %>
    <p>}</p>}

    <div id="results"></div>
    <div id="error_explanation"></div>

      <% if instance_variable_defined?("@games") && @games.present? %>
        <%= "Hello!" %>
          <% end %>


            <table class="table table-hover table-striped">
              <thead class="table-dark">
                <tr>

                  <th scope="col">Image</th>
                  <th scope="col">
                    <%= link_to "Title" , :sort=> "title"%>
                  </th>
                  <th scope="col">
                    <%= link_to "System" , :sort=> "system"%>
                  </th>
                  <th scope="col">
                    <%= link_to "Release Date" , :sort=> "released_date"%>
                  </th>
                  <th scope="col">Service</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @games.each do |game| %>
                  <%= current_user.id %>

                    <% if game.user==current_user %>
                      <tr>
                        <td>
                          <%= link_to game.image, game %>
                        </td>
                        <td>
                          <%= link_to game.title, game %>
                        </td>
                        <td>
                          <%= game.system %>
                        </td>
                        <td>
                          <%= game.released_date %>
                        </td>

                        <td>
                          <%= game.service %>
                        </td>
                        <% if game.service=="Steam" %>
                          <td></td>
                          <% else %>
                            <td>
                              <%= link_to 'Delete' , game, method: :delete, data: { confirm: 'Are you sure?' },
                                class: "btn btn-outline-danger btn-sm" %>
                            </td>
                            <% end %>
                      </tr>
                      <% end %>
                        <% end %>
              </tbody>
            </table>

            <% else %>

              <h1>Hello World!</h1>
              This is my first Rails Webpage...


              <% end %>