<%= form_with(model: created_game, local: true) do |form| %>
  <% if created_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(created_game.errors.count, "error") %> prohibited this created_game from being saved:</h2>

      <ul>
        <% created_game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :system %>
    <%= form.text_field :system %>
  </div>

  <div class="field">
    <%= form.label :released_date %>
    <%= form.text_field :released_date %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service, required: true, :placeholder => 'Manual', value: 'Manual'  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
