<p id="notice"><%= notice %></p>

<h1>Manually Created Games</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Title</th>
      <th>Image</th>
      <th>System</th>
      <th>Released date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manually_created_games.each do |manually_created_game| %>
      <tr>
        <td><%= manually_created_game.game_id %></td>
        <td><%= manually_created_game.title %></td>
        <td><%= manually_created_game.image %></td>
        <td><%= manually_created_game.system %></td>
        <td><%= manually_created_game.released_date %></td>
        <td><%= link_to 'Show', manually_created_game %></td>
        <td><%= link_to 'Edit', edit_manually_created_game_path(manually_created_game) %></td>
        <td><%= link_to 'Destroy', manually_created_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manually Created Game', new_manually_created_game_path %>
